html,body {
  min-height: 100%;
  xheight: 100%;
}

body {
  background: #e5e5e5;
  font: normal 76% Lucida Grande;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
}

#header {
  background: #226177;
  background: #4F5E85;
  background: #558;
  padding: 0;
  color: #fff;
  width: 100%;
  display: table;
  z-index: 100;
  
  position: fixed;
  margin-top: -12px;
  height: 30px;
}

#header td {
  background: none;
  color: #fff;
}

#header td.appname {
  text-align: right;
  font-weight: bold;
  width: 80px;
  padding-right: 15px;
}

#header td.slogan {
  padding-left: 15px;
   xposition: relative;
   xfont-size: 0.5em;
   xtop: -0.25em;
   xpadding: 0.25em 0.5em;
   border-left: solid 1px #88b;
   margin-left: 0.5em;
   xopacity: 0.7;
   color: #CBCBDB;
}

#header .app, 
#header .session {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}

#header .session {
  text-align: right;
  padding-right: 20px;
}


#header a {
  color: #bbe;
}

#container {
  xposition: relative;
  xmin-height: 100%;
  xheight: 100%;
}

#body {
  margin: 0px 10px;
}

#login {
  padding-top: 90px;
}

#chatwindow {
  background: #fff;

  xposition: absolute;
  xbottom: 120px;
  xright: 10px;
  xleft: 10px;
  xtop: 30px;
  
  xoverflow: auto;
  padding-top: 30px;
}

#chatwindow .chat {
  padding: 10px;   
}

#chatwindow .bottom {
  
  background: #e5e5e5 url(/images/bottom-bg.gif) repeat-x top right;
  padding-bottom: 90px;
}

#chatbox { 
  height: 90px; 
  position: fixed;
  bottom: 00px;
  left:   00px;
  right:  00px;
  padding: 15px 10px 0 10px;
  background: url(/images/chatbox-bg.png) repeat-x 0 0;
  xborder: solid 10px #e5e5e5;
}

#chatbox textarea#message {
  width: 100%;
  height: 80px;
}

td {
  background: #fff;
  color: #333;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

tr.new td,
tr.sys td {
  border-top: dotted 1px #ccc;
}

pre {
  background: #eee;
  padding: 10px;
  margin-right: 15px;
  border: dotted 1px #777;
}

table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
}

td.from {
  border-right: solid 1px #ccc; 
  padding: 5px 15px 5px 5px;
  width: 65px;
  text-align: right;
}

td.from div.from {
  font-weight: bold;
}

td.message {
  padding-left: 15px;
}

td.time {
  width: 50px;
  vertical-align: top;
  padding-top: 5px;
}

div.time {
  font-size: 9px;
  color: #999;
  white-space: nowrap;
}

tr.sys td {
  background: #eee;
  font-weight: bold;
}

tr.sys td.message {
  text-align: center;
}

div.message {
  padding: 2px 0;
}

img.glyph {
  vertical-align: text-bottom;
}