<div id="header">
  <table>
    <tr>
      <td class="appname">gabby</td>
      <td class="slogan">go ahead, run your mouth</td>
      <td class="toolbar">
        <%#= link_to glyph('application_get'), '#' %>
      </td>
      <td class="session">
        <% if logged_in? %>
          <%= current_user.login  %>
          | <%= link_to 'Logout', logout_url %>
        <% end %>
      </td>
    </tr>
  </table>    
</div>