<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>gabby</title>
  <%#= javascript_include_tag 'prototype', :juggernaut %>
  <%= stylesheet_link_tag 'base' %>
</head>
<body>
<div id="container">
  <div id="header">
    <div class="app">
      <h1>gabby<span class="slogan">run your mouth</span></h1>
    </div>
    <div class="session">
    <% if logged_in? %>
      Logged in as: <%= current_user.login  %>
      <%= link_to 'Logout', logout_url %>
    <% end %>
    </div>  
  </div>  
  <div id="body">
    <%= yield %>
  </div>
  <div id="sidebar">
    
  </div>
  <div id="footer">
    
  </div>
</div>  
</body>
</html>